/* universal reset */
* {
  margin: 0;
  padding: 0;
}
/* Related Posts */

/* body properties */
body {
  /* position: relative; */
  background-image: url(../02_Images/wegweiser.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-color: rgba(222, 222, 222, 1);
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  /* height: 100vh; */
  height: 100%;
}
.container {
  width: 50%;
  margin: 50px auto;
  position: relative;
  background-color: rgba(222, 222, 222, 1);
  padding-left: 20px;
  padding: 20px;
  margin-bottom: 180px;
}
.container a {
  text-decoration: underline;
  color: #000;
}

.relatedposts {
  background-color: rgba(222, 222, 222, 0.4);
  border: 2px solid #000; /* Border style */
  width: 10%; /* Set width as needed */
  padding: 20px; /* Add padding for spacing inside the div */
  position: absolute; /* Position the div */
  margin: auto;
  margin-top: -10%;
}
.relatedposts a:hover {
  /* text-decoration: none; */
  font-weight: normal;
}
.relatedposts img {
  width: 100%;
}
.post1,
.post2,
.post3 {
  position: relative;
  border: 1px solid #000;
}
.product {
  padding-top: 10px;
  width: 80%;
}
/* header */
header {
  background-color: rgba(222, 222, 222, 1);
  /* position: relative; */
  z-index: 2;
  margin-bottom: 10px;
  padding: 10px 10px;
}

/* Style the navigation bar */
nav ul {
  /* background-color: #333; */
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav li {
  margin: 0 10px;
  padding: 5px;
  border: 1px solid black;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Style the dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(222, 222, 222, 1);
  font-style: normal;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-style: normal;
}
header li:hover {
  background-color: #fbaf26;
}

.dropdown-content li {
  padding: 10px;
  font-style: normal;
}

.dropdown-content a {
  /* color: white; */
  text-decoration: none;
  font-style: normal;
}

/* Hover effect on dropdown items */
.dropdown-content li:hover {
  background-color: rgba(222, 222, 222, 1);
  background-color: #fbaf26;
}

.contactbutton {
  width: 20%;
  min-width: 150px;
  max-width: 200px;
  height: 60px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  background-color: #dededef4;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 10px;
}

.contactbutton:hover {
  /* border-radius: 15%; */
  text-decoration: underline;
  font-style: normal;
  border-radius: 5%;
  background-color: #fbaf26;
}

h1 a {
  color: #fbaf26;
  font-size: 30px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-shadow: 0 0 15px black;
}

h1 a:hover {
  text-decoration: underline;
  color: #fbaf26;
}
h2 {
  text-transform: uppercase;
}

.intro p {
  font-size: 10px;
  margin: 0px 0px;
}

/* *************************************************************** */
/* content */

.container h2,
.container p {
  margin-left: 20px;
}

p {
  font-size: 14px;
}
/* link properties */
a:link {
  color: black;
}
/* a:visited{
    We do not want any different appearance for the already visited links
} */
a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: red;
}

/* index */
/* Reviews */
h4,
h5 {
  margin-top: 10px;
}

/* Backpacks */
/******* TT Raid Pack mk3 *********/
.TT-Raid-Pack-mk3-Front {
  width: 20%;
  height: auto;
  float: left;
}

.productsource {
  list-style: square;
}

/* Reviews */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.valerio,
.mateusz {
  width: 100%;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content {
  margin-left: 20px;
  margin-right: 40px;
}
/* *************************************************************** */

/* Footer */

footer {
  /* margin-top: 80px; */
  padding: 10px 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  /* width: 100%; */
  /* display: inline-block; */
  background-color: rgba(222, 222, 222, 1);
}
ul {
  list-style-type: none;
}
.productsource {
  margin: 20px;
  list-style: square;
}
.footer_navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 7vw 0 7vw;
  color: #fbaf26;
  font-weight: 600;
  text-transform: uppercase;
}
footer a {
  color: rgb(0, 0, 0);
  text-transform: none;
  font-weight: 400;
}
@media screen and (max-width: 500px) {
  h1 a {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  p {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .contactbutton {
    display: none;
  }
  .footer_navigation {
    display: block;
    height: 280px;
  }
  .container {
    margin-bottom: 350px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fbaf26;
    font-weight: 600;
    text-transform: uppercase;
  }
}
